name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build-and-push:
    # Only run if the event is a push and the commit message contains 'buildimg'
    if: github.event_name == 'push' && contains(github.event.head_commit.message, 'buildimg')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image with caching
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: sbamin/sitebuilder:latest
          # Enable Docker layer caching
          cache-from: type=registry,ref=sbamin/sitebuilder:cache
          cache-to: type=registry,ref=sbamin/sitebuilder:cache,mode=max
